<h1>ADMIN: Application for <%= @application_form.name %></h1>

<h2>Pets on this Application:</h2>

<% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <% if pet.application_status(@application_form) == "Approved" %>
      <p><strong><%= pet.name %></strong> APPROVED</p>
    <% elsif pet.application_status(@application_form) == "Rejected" %>
      <p><strong><%= pet.name %></strong> REJECTED</p>
    <% else %>
      <p><strong><%= pet.name %></strong> <%= button_to "Approve This Pet For This Application", "/admin/application_forms/#{@application_form.id}", method: :patch, params: { status: "Approved", pet_id: pet.id } %></p>
    <% end %>
  </div>
<% end %>
