
<h1>Application for:</h1>
<h2><%= @application_form.name %></h2>
<p><strong>Address:</strong> <%= @application_form.street_address %></p>
<p><strong>City:</strong> <%= @application_form.city %></p>
<p><strong>State:</strong> <%= @application_form.state %></p>
<p><strong>Zip:</strong> <%= @application_form.zip_code %></p>
<p><strong>Description:</strong> <%= @application_form.description %></p>
<p><strong>Application Status:</strong> <%= @application_form.status %></p>
<br>

<h3>Current pets:</h3>
  <div id="current-pets">
    <% @application_form.pets.each do |pet|%>
      <p><strong><%= link_to "#{pet.name}", "/pets/#{pet.id}/" %></strong></p>
    <% end %>
  </div>
  <br>

<% if @application_form.status == "In Progress" %>
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/application_forms/#{@application_form.id}/", method: :get do |form| %>
    <%= form.label :query, "Search pets by name:" %>
    <%= form.text_field :query %>
    <%= form.submit "Submit Search" %>
  <% end %>
<% end %>

<% if params[:query] != nil %>
  <% Pet.search_results(params[:query]).each do |pet| %>
    <p><%= pet.name %></p>
  <% end %>
<% end %>
