
<h1>Application for:</h1>
<h2><%= @application_form.name %></h2>
<p><strong>Address:</strong> <%= @application_form.street_address %></p>
<p><strong>City:</strong> <%= @application_form.city %></p>
<p><strong>State:</strong> <%= @application_form.state %></p>
<p><strong>Zip:</strong> <%= @application_form.zip_code %></p>
<p><strong>Description:</strong> <%= @application_form.description %></p>
<p><strong>Application Status:</strong> <%= @application_form.status %></p>
<br>

<h3>Current pets:</h3>
  <div id="current-pets">
    <% @application_form.pets.each do |pet|%>
      <p><strong><%= link_to "#{pet.name}", "/pets/#{pet.id}/" %></strong></p>
    <% end %>
  </div>
<br>

<% if @application_form.can_be_submitted? %>
  <%= render partial: "show_form", locals: {url: "/application_forms/#{@application_form.id}/", method: :patch, form_label: "Why would you be a good owner for your selected pet(s)?", text_field_type: :description, button_text: "Submit Application"} %>
<% end %>

<% if @application_form.in_progress? %>
  <h3>Add a Pet to this Application</h3>
  <%= render partial: "show_form", locals: {url: "/application_forms/#{@application_form.id}/", method: :get, form_label: "Search pets by name:", text_field_type: :query, button_text: "Submit Search"} %>
<% end %>

<% if params[:query] %>
  <% Pet.search(params[:query]).each do |pet| %>
    <p><strong><%= pet.name %></strong> <%= button_to "Adopt #{pet.name}", { controller: :application_forms, action: :add_pet, pet_id: pet.id }, method: :post %></p>
  <% end %>
<% end %>
